<% provide(:title, "Help") %>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= image_tag("highfive.gif", id: "dog2", height: 500, width: 500) %>
<%= image_tag("maddog.gif", id: "dog3", height: 500, width: 500) %>

<h1>...oh you were expecting real help? </h1>