<div class="center jumbotron">
<h1>Welcome to CALNDR!</h1>
<h2>Your daily dose of obligations you can't run from or forget about :)</h2>
<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>



