<h1>Welcome to TaskApp!</h1>
<h2>Your daily dose of obligations you can't run from or forget about :)</h2>
<p1> <%= link_to 'Tasks', controller: 'tasks'%> </p1>
<br>
<%= image_tag("caLNdr.png", :alt => "logo") %>


