// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
    font-size: 32px;
    color: #3355D6; 
    background-color: #7FBEEB;
    text-align: center;
    border-style: outset;
    border-width: 1em;
    border-color: #DBD8F0;
    border-radius: 1em;
}
p {
    text-align: center;
    border-width: 1em;
    border-color: green;
    border-radius: 1em;
}

p1 {
    font-size: 20px;
}
body {
    text-align: center;
     background-color: #56CBF9;
    
}

h4 {
   background-color: white;
}